#projects {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.category-filter {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.category-button {
  position: relative;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-clip: padding-box;
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
}

.category-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, 
    red, 
    orange, 
    yellow, 
    green, 
    blue, 
    indigo, 
    violet, 
    red);
  z-index: -1;
  background-size: 400%;
  border-radius: 5px;
  animation: gradientMove 5s linear infinite;
}

.category-button.active {
  background-color: #333;
  color: #fff;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.category-button.active {
  background: #007bff;
  color: white;
  transform: scale(1.05);
}

.category-button:hover {
  background: #e0e0e0;
  transform: scale(1.05);
}

.project-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  position: relative;
  z-index: 5;
}

.project {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.project h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

.project-video {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.project-video:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.project-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.project-photo {
  max-width: 100%;
  border-radius: 5px;
  transition: transform 0.3s;
}

.project-photo:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .category-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .project {
    padding: 10px;
  }

  .project-video,
  .project-photos {
    margin-top: 8px;
  }

  .project-photo {
    width: 100%;
    height: auto;
  }
}